# Server Port (Matching frontend api URL)
PORT=3000

# MongoDB Connection URI
MONGO_URI=mongodb+srv://Nikhil:*Nikhil123*@cluster0.nbmfnye.mongodb.net/?appName=Cluster0

# JWT Secret Key for Authentication
JWT_SECRET=your_jwt_secret_key_here

# Environment
NODE_ENV=development
