# Server Port (Matching frontend api URL)
PORT=3000

# MongoDB Connection URI
MONGO_URI= mongodb_connection_string

# JWT Secret Key for Authentication
JWT_SECRET=your_jwt_secret_key_here

# Environment
NODE_ENV=development
